{% extends 'index.html' %}


{% block title %}
    舆情监测
{% endblock %}
{% block dashboard %}
    <h1 id="i1">舆情监测1.0</h1>
    <form class="form-inline" method="get">
        <input type="button" class="btn btn-info" value="搜索">
        {% if search %}
            <input type="search"  class="form-control" name="s" placeholder="{{ search }}">
        {% else %}
            <input type="search" name="s" class="form-control" placeholder="关键词">
        {% endif %}
    </form>

    <a class="btn btn-primary pull-right" href="urlinfo">查看网址列表</a>


    <table class="table table-striped">
        <thead >
            <tr>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

{% endblock %}
