{% extends 'index.html' %}
{% load kingadmin_tags %}

{% block title %}
    {{ app_name }}/{{ table_name }}
{% endblock %}

{% block dashboard %}
    <select >
        <option value="1">1</option>
        <option value="2" selected = "selected">2</option>
    </select>
    {% if class_admin.list_filter %}
        <form method="get">
            {% for list_filter in class_admin.list_filter %}

                {% build_filter_val  class_admin list_filter %}

            {% endfor %}
            <input type="submit" value="筛选"/>
        </form>
    {% endif %}

    <table class="table table-striped">
        <thead>
         {% if  class_admin.list_display %}
            <tr>
                {% for foo in class_admin.list_display %}
                    <th><a href="?o={% build_sort_url forloop.counter order %}">{{ foo }}</a></th>
                {% endfor %}
            {% else %}
                <th>{{ app_name }}</th>
            </tr>
        {% endif %}
        </thead>

        <tbody>
        {% for query in queryset %}
            <tr>
                {% build_display_val query class_admin %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
